html{
    background-color: rgb(43, 43, 43);
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    color: aliceblue;
}

#title1{
    text-align: center;
    align-self: center;
    font-size: 100px;
    color: aliceblue;
    border-bottom: 10px solid aliceblue;
    border-radius: 5px;
    margin-right: 15%;
    margin-left: 15%;
}

#FP{
    color: gold;
}