html{
    background-color: rgb(43, 43, 43);
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
}

h2{
    text-align: center;
    font-size: 30px;
}

#title1{
    text-align: center;
    align-self: center;
    font-size: 80px;
    border-bottom: 10px solid aliceblue;
    border-radius: 5px;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 2%;
}

.amarillo{
    color: gold;
}

#intro{
    text-align: center;
    font-size: 20px;
    margin-right: 15%;
    margin-left: 15%;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    margin-top: 2%;
}

.box{
    background-color: rgb(75, 75, 75);
    width: 25%;
    position: relative; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgb(0, 0, 0);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.box:hover {
  background-color: #6d6d00;
  transform: scale(1.05);
}

.github{
    text-align: center;
}

.descripcion{
    font-size: 18px;
    background-color: rgb(75, 75, 75);
    
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 2%;
    border: 2px solid aliceblue;
    border-radius: 10px;
    padding: 20px;
    
    display: flex;
    align-items: center;
    gap: 20px;
}

#title2{
    text-align: center;
    align-self: center;
    font-size: 80px;
    border-bottom: 10px solid aliceblue;
    border-radius: 5px;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 2%;
    margin-top: 4%;
}

.imagen {
    width: 35%;
    height: auto;
}

table {
    margin: 30px auto;        
    width: 80%;               
    font-size: 1.1rem;
    color: #ffffff;
    background-color: #3e3e3e; 
    border-radius: 8px;
      
}

th {
    background-color: #2b2b2b;
    color: #FFD700;           
    padding: 15px;
    text-align: center;
    border-bottom: 2px solid #555;
    text-transform: uppercase;
    letter-spacing: 1px;
}

td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #4d4d4d;
}


.footer{
    text-align: center;
    margin-top: 40px;
    padding: 10px;
    background-color: rgb(75, 75, 75);
}
